Stmt 000000001     EXEC Lines:01 Ptr:********
Stmt 000000002     CNTL Lines:01 Ptr:********
Stmt 000000003 PRINTDEV Lines:01 Ptr:********
Stmt 000000004  ENDCNTL Lines:01 Ptr:********
Stmt 000000005       DD Lines:01 Ptr:******** 
