Scanned Stmt: 000000001 //IBMUSERC JOB 'inline',MSGCLASS=S,MSGLEVEL=(1,1)
Scanned Stmt: 000000002 //MYPGM EXEC PGM=IEFBR14
Scanned Stmt: 000000003 //SYSIN DD *
Scanned Stmt: 000000004 //MYPGM2 EXEC PGM=IEFBR14
Scanned Stmt: 000000005 //SYSIN DD *
Scanned Stmt: 000000006 //SYSIN DD *
Scanned Stmt: 000000007 //MYPGM3 EXEC PGM=IEFBR14
Scanned Stmt: 000000008 //SYSIN DD *
Scanned Stmt: 000000009 //MYPGM4 EXEC PGM=IEFBR14
Scanned Stmt: 000000010 //SYSIN DD *
