Stmt 000000001      JOB Lines:01 Ptr:********
Stmt 000000002     EXEC Lines:01 Ptr:********
Stmt 000000003       DD Lines:05 Ptr:********
Stmt 000000004      //* Lines:01 Ptr:********
Stmt 000000005      //* Lines:01 Ptr:********
